#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  border: 1px solid wheat;
  height: 80dvh;
  display: grid;
  grid-template-rows: 100px auto;
  width: 100%;
}
