#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: start;
}

.sidebar {
  flex: 1;
  .main-page {
    display: flex;
    flex-direction: column;
  }
}

.detail {
  flex: 1;
}
